WHOOP_CLIENT_ID=your_whoop_client_id
WHOOP_CLIENT_SECRET=your_whoop_client_secret
WHOOP_REDIRECT_URI=http://localhost:3000/api/auth/whoop/callback
HEVY_API_KEY=your_hevy_api_key
DISCORD_WEBHOOK_URL=your_discord_webhook_url
DATABASE_URL=
AUTH_SECRET=
NEXTAUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
NEXTAUTH_URL=https://healthmax-two.vercel.app
AUTH_TRUST_HOST=true
ALLOWED_GITHUB_USERS=your-github-username
